/* ---------------------------------global styles------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  font-size: 20px;
  background-color: #ffffff;
  position: relative;
  height: 200vh;
  z-index: 20000;
}
a {
  text-decoration: none;
  color: #172339;
}
.flex_row_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.container {
  padding: 30px 100px;
  height: 1200px;
}
.container-1 {
  padding: 30px 100px;
}
/* -----------------------End of global styles--------------------------------- */

/* ------------xxx--------------header styles----------------xxx------------------------ */

.btn {
  padding: 18px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #172339;
  font-size: 22px;
  transition: 0.4s ease;
}
.btn:hover {
  background-color: #172339;
  transition: 0.4s ease;
  color: #ffffff;
}
.header {
  max-width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

@media (min-width: 380px) and (max-width: 520px) {
  .btn {
    font-size: 12px;
    padding: 8px 10px;
  }
  .container {
    padding: 20px 30px;
  }
}

/* -------------xxx-------------end header styles------------------------xxx---------------- */

/* ----------------------main styles------------------------------------------- */
.main_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 2rem;
  z-index: 99;
}
.main {
}
.main_title h2 {
  font-size: 5.2rem;
  color: #172339;
  padding-bottom: 1rem;
  font-family: "Epilogue", Regular;
  font-weight: 600;
}
.main_para {
  max-width: 20rem;
  line-height: 1.2rem;
  padding-bottom: 1rem;
  font-family: Regular;
  font-weight: 100;
  color: #172339;
}
.btn_container-2 {
  padding-top: 1.5rem;
}
.side_span {
  font-size: 4rem;
  color: #172339;
  font-weight: 520;
  font-family: "Epilogue", Regular;
}
.new {
  padding-bottom: 1.5rem;
}

.btn-2:hover {
  background: #cb30e3;
  background-image: linear-gradient(to right, #cb30e3, #ffa84e);
  transition: 0.4s ease-in-out;
}
@media (min-width: 380px) and (max-width: 520px) {
  .main_title h2 {
    font-size: 2.1rem;
    max-width: 100%;
  }
  .main_para {
    font-size: 1.2rem;
    text-align: left;
  }
  .main_container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 800px) and (max-width: 1300px) {
  .main_container {
  }
  .main_title {
    font-size: 2px;
  }
}
@media (max-width: 1000px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
  .side {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 16px;
    padding-left: 10rem;
    position: static;
  }
  .new {
    padding-right: 3rem;
  }
  .container {
    padding: 20px 40px;
    /* height: 200vh; */
  }
  /* .container-3 {
    top: 30vh;
    position: absolute;
    max-width: 100%;
  } */
  .main_title {
    font-size: 5rem;
  }
}
/* ----------xxxx------------end of main styles--------------------xxx----------------------- */

/* ----------------------------Absolute Style-------------------------------- */

.image-2 {
  position: absolute;
  top: 8rem;
  left: 25rem;
  z-index: 69;
}
.image-9 {
  display: none;
}
.image-1 {
  position: absolute;
  top: 5rem;
  left: 30rem;
  z-index: -1;
  display: block;
}
.img-long {
  height: 550px;
}
@media (min-width: 380px) and (max-width: 520px) {
  .image-2 {
    top: 7rem;
    left: 4rem;
  }
}

.photo-1 {
  position: absolute;
  top: 41rem;
  left: 9rem;
  z-index: 99;
}
.curve-2 {
  position: absolute;
  top: 55rem;
  left: 27rem;
}
.image-6 {
  position: absolute;
  top: 45rem;
  left: 4rem;
}

/* ----------------------------End ofAbsolute Style-------------------------------- */

/* ---------------------------hero styles---------------------------------------------*/
.container-1 {
  padding: 30px 100px;
  position: absolute;
  height: 100vh;
  top: 850px;
}
.container-3 {
  background-color: #172339;
  border-radius: 20px;
  height: 90vh;
  padding: 20px 50px;
}
.frame-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 500px;
  padding-right: 150px;
  font-size: 16px;
  padding-top: 140px;
}
.frame-title {
  font-size: 42px;
  word-spacing: 5px;
  padding-bottom: 30px;
  color: #f3ede7;
}
.frame-title span {
  font-weight: bold;
  color: #ffffff;
}
.frame-para {
  line-height: 30px;
  text-align: left;
  font-size: 20px;
  text-align: left;
  padding-bottom: 40px;
  color: #f3ede7;
}
.frame-highlight h3 {
  font-size: 20px;
  color: #f3ede7;
  padding-bottom: 10px;
}
.frame-highlight p {
  font-size: 12px;
  color: #f3ede7;
  word-spacing: 5px;
}
.image-3 {
  width: 340px;
  height: 565px;
}
@media (max-width: 780px) {
}
@media (max-width: 1000px) {
  .frame-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    align-items: center;
    padding-top: 300px;
    word-wrap: nowrap;
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .frame-para {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .frame-title {
    padding-bottom: 10px;
  }
  .photo-1 {
    top: 780px;
    left: 350px;
    position: absolute;
  }

  .image-3 {
    height: 300px;
    width: 240px;
  }
  .curve-2 {
    position: absolute;
    top: 1100px;
    left: 430px;
  }
  .image-6 {
    top: 35rem;
    left: 10rem;
  }
}
@media (min-width: 380px) and (max-width: 520px) {
  .frame-content {
    font-size: 12px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .frame-content > div {
    padding-bottom: 30px;
  }
  .frame-para {
    line-height: 2;
  }

  .container {
    height: 230vh;
  }
  .image-1,
  .image-6 {
    display: none;
  }
  .photo-1 {
    display: none;
  }
  .side {
    display: none;
  }
  .image-9 {
    display: block;
    position: absolute;
    top: 29rem;
    left: 0.8rem;
    width: 100%;
  }
  .container-1 {
    padding: 0;
    top: 52rem;
  }
  .container-3 {
    padding: 0;
  }
  .curve-2 {
    top: 66rem;
    left: 7rem;
  }
  .photo-1 {
    display: block;
    top: 44rem;
    left: 90px;
  }
  .image-3 {
    height: 400px;
    width: 200px;
  }
  .pic {
    flex-direction: column;
    padding-top: 10px;
    position: absolute;
    top: 90rem;
    z-index: 99;
  }
}
/* ---------------xxx------------ end of hero styles-----------------------xxx---------------------- */

/* -----------------------------------footer styles--------------------------------------- */
.footer_container {
  background-color: #f3ede7;
  height: 500px;
}
.pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 300px;
  max-width: 100%;
}
.pic > div {
  cursor: pointer;
  padding-top: 40px;
}
.copy {
  font-size: 23px;
  cursor: pointer;
}
.container-5 {
  padding: 30px 100px;
  max-width: 100%;
}
.request {
  display: flex;
  justify-content: space-between;
  width: 150px;
  cursor: pointer;
}

/* ----------------xxx-------------------footer styles-----------------xxxx---------------------- */
